<?xml version="1.0" encoding="UTF-8"?>
<events>
#foreach ($event in $events)
  <$event.name value="$event.value" >
  #foreach($outcome in $event.outcomes)
  	<outcome name="$outcome.name" value="$outcome.value" />
  #end
  </$event.name>
#end
</events>